<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div th:if="${message}">
    <h2 th:text="${message}" style="color: red;"></h2>
</div>

<div class="container">
    <h2 style="text-align: center; color: var(--cayenne-pepper); margin-bottom: 20px;">
        Продукты в категории: <span th:text="${categoryName}">Название категории</span>
    </h2>

    <div th:if="${message}">
        <h2 th:text="${message}" style="color: red; text-align: center;"></h2>
    </div>

    <div class="product-container" th:if="${!#lists.isEmpty(products)}">
        <div class="product-card" th:each="product : ${products}">
            <img th:src="${product.imageUrl}" alt="Product Image">
            <h3 th:text="${product.name}">Название товара</h3>
            <p th:text="${product.description}">Описание товара</p>
            <p class="price" th:text="'Цена: $' + ${product.price}">Цена</p>
            <a th:href="@{'/shop/verify?productId=' + ${product.id}}" class="button">Купить</a>
        </div>
    </div>

</div>


</body>
</html>
